*.xcconfig
*.xcodeproj
*.plist
*.app
*.app/
*.app/*
/example-server/bin/example-server.app/Contents/PkgInfo
/example-server/bin/example-server.app/Contents/MacOS/libfmodex.dylib
/example-server/bin/example-server.app/Contents/MacOS/example-server
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/Current
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/waitCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/upDownCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/toprightCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/topleftCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/topCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/sprayCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/rightCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/rightArrowCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/leftRightCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/leftCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/helpCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/fingerCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/InfoPlist.strings
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTUI.strings
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/objects.nib
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/info.nib
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/classes.nib
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/objects.nib
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/info.nib
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/classes.nib
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/objects.nib
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/info.nib
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/classes.nib
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/destroyCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/cycleCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/crossCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/Caution.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomrightCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomleftCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/blankCursor.tiff
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/vvector.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/tube_gc.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/tube.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/segment.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/rot.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/port.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/intersect.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/gutil.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutstroke.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutf90.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutbitmap.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glut.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glsmapint.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glsmap.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/extrude.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/copy.h
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Versions/A/GLUT
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Resources
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/Headers
/example-server/bin/example-server.app/Contents/Frameworks/GLUT.framework/GLUT